:root {
  --main-bg: linear-gradient(90deg, rgb(0, 0, 37), rgb(0, 30, 35));
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(78, 234, 214);
  --dark-blue: rgb(0, 0, 50);
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/*  Common Classes */
.cur-po {
  cursor: pointer;
}
.code-buttons {
  border: none;
  padding: 10px 20px;
  background-color: var(--dark-blue);
  color: var(--text-primary);
}
.code-buttons i {
  color: var(--text-secondary);
  margin-right: 5px;
}
.code-buttons:hover {
  box-shadow: inset 0px 1px var(--text-secondary);
}
.code-buttons:active {
  background: var(--main-bg);
  color: white;
}
.code-buttons:active i {
  color: white;
}
.active {
  box-shadow: inset 0px 1px var(--text-secondary);
  background: var(--main-bg);
}

.do-not-display {
  display: none;
}

